################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/myPong v2/.vs/myPong v2/v15/Browse.VC.opendb
myPong v2/.vs/myPong v2/v15/.suo
*.obj
*.obj
myPong v2/.vs/myPong v2/v15/.suo
*.ipch
*.log
*.pdb
myPong v2/.vs/myPong v2/v15/.suo
myPong v2/.vs/myPong v2/v15/.suo
myPong v2/.vs/myPong v2/v15/ipch/AutoPCH/1fd207a42fadbd16/PADDLE.ipch
myPong v2/.vs/myPong v2/v15/ipch/AutoPCH/25353d834bfd210c/FIELD.ipch
myPong v2/.vs/myPong v2/v15/ipch/AutoPCH/4399d289263ef45d/VECTOR2.ipch
myPong v2/.vs/myPong v2/v15/ipch/AutoPCH/bc2c9bf1f2cee84f/MOUSE.ipch
myPong v2/.vs/myPong v2/v15/ipch/AutoPCH/ed89da31a3efc65/BALL.ipch
myPong v2/myPong v2/Release/Ball.obj
myPong v2/myPong v2/Release/Field.obj
myPong v2/myPong v2/Release/Main.obj
myPong v2/myPong v2/Release/myPong v2.log
myPong v2/myPong v2/Release/myPong v2.tlog/CL.command.1.tlog
myPong v2/myPong v2/Release/myPong v2.tlog/CL.read.1.tlog
myPong v2/myPong v2/Release/myPong v2.tlog/CL.write.1.tlog
myPong v2/myPong v2/Release/myPong v2.tlog/link.read.1.tlog
myPong v2/myPong v2/Release/myPong v2.tlog/myPong v2.write.1u.tlog
myPong v2/myPong v2/Release/vc141.pdb
myPong v2/Release/myPong v2.exe
myPong v2/Release/myPong v2.iobj
myPong v2/Release/myPong v2.ipdb
myPong v2/Release/myPong v2.pdb
