################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/myPong v2/.vs/myPong v2/v15/Browse.VC.opendb
myPong v2/.vs/myPong v2/v15/.suo
*.obj
*.obj
myPong v2/.vs/myPong v2/v15/.suo
*.ipch
*.log
*.pdb
